.admin_cart_title_component{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    padding: 1rem;
    align-items: center;
}
.admin_cart_title_component .component_title{
    font-size: 1.3125rem;
    color:#3D3D3D;
    font-weight: 400;
    line-height: 1.33;
}

