#canvas_dialog .MuiDialog-paperFullWidth{
    width: 100% !important;
}

@media screen and (max-width: 540px){
    #canvas_dialog .MuiDialog-paper{
        margin: 0 !important;
        position: absolute;
        position: absolute;
        top: 0;
    }
    #canvas_dialog{
        z-index: 2500 !important;
    }
    #canvas_dialog .MuiDialog-paperScrollPaper{
        max-height: calc(100% - 0px) !important;
    }
    .canvas_dialog_model_title{
        visibility: visible !important;
        margin-left: 30px;
        font-size: 14px;
        font-weight: 600;
    }
    .mobile_canvas_save_btn{
        display: block !important;
        position: absolute;
        right: 15px;
        padding: 10px;
        width: 5rem;
        border: none;
        background-color: #4fd24f;
        color: #fff;
        text-transform: uppercase;
    }



}


#canvas_dialog .MuiDialog-paperScrollPaper{
    /*max-height: calc(100% - 10px) !important;*/
}

#canvas_dialog .MuiDialog-paperScrollPaper {
    /* max-height: calc(100% - 10px) !important; */
    height: 100vh;
    margin: 0 !important;
}
.canvas_dialog_model_title{
    visibility: hidden;
}

.mobile_canvas_save_btn{
    display: none;
}
#canvas_dialog .MuiDialog-paperScrollPaper{
    max-height: 100vh !important;
}

