.order-confirmation h3 {
    color: #7d7d7d;
    font-weight: 900;
    line-height: normal;
    margin: 4rem 0 2rem;
    text-align: center;
    text-transform: uppercase;
}
@media (min-width: 992px) {
    .order-confirmation h3 {
        font-size: 3rem;
    }
}
.order-confirmation__info {
    color: #7d7d7d;
    margin: 2.5rem 0 7.5rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 20px;
}
.order-confirmation__actions {
    margin: 0 auto;
}
.order-confirmation__actions button {
    display: block;
    margin: 0 auto 0.5rem;
    width: 88%;
}
@media (min-width: 992px) {
    .order-confirmation__actions {
        text-align: center;
    }
    .order-confirmation__actions button {
        display: inline-block;
        margin: 0 1rem;
        padding-left: 0;
        padding-right: 0;
        width: 300px;
    }
}
.continue_shopping_btn{
    background-color: #fff;
    padding: 15px;
    color: #FF6733;
    box-shadow: inset 0px 0px 0px 3px #FF6733;
    border: 1px solid #FF6733;
    border-radius: 100px;
    /*transform: skew(45deg);*/
}
.green_continue_shopping_btn{
    background-color: #46c267;
    padding: 15px;
    color: #fff;
    box-shadow: inset 0px 0px 0px 3px #46c267;
    border: 1px solid #46c267;
    /*transform: skew(45deg);*/
    border-radius: 100px;
}
.continue_shopping_btn span,.order_detail_btn span, .green_continue_shopping_btn span{
    display: inline-block;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.25rem;
    /*transform: skew(-45deg);*/
}
.continue_shopping_btn:focus,.order_detail_btn:focus{
    outline: none;
}
.continue_shopping_btn:hover{
    background-color: #FF6733;
    color: #fff;
}
.order_detail_btn{
    background-color: #FF6733;
    padding: 15px;
    color: #ffffff;
    box-shadow: inset 0px 0px 0px 3px #FF6733;
    border: 1px solid #FF6733;
    transform: skew(45deg);
}
.order_detail_btn:hover{
    background-color: #ffffff;
    color: #FF6733;
}








/*mobile code*/
.thankyouPage{
    background-color: #404046;
    height: 100vh;
    /* overflow: hidden; */

}
.thankyouPage .container{
    background-color: #333338;
    height: 75vh;
    /* border-bottom-left-radius: 50px; */
    border-radius: 0px 0px 38px 49px;
}


.animated-dots {
    animation: position1 ease-in-out 0.4s;

    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: both;
    animation-delay: 0.1s;
}

.position2 {
    animation: position2 ease-in-out 0.4s;

    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

.position3 {
    animation: position3 ease-in-out 0.4s;

    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}

.position4 {
    animation: position4 ease-in-out 0.4s;

    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: both;
    animation-delay: 0.4s;
}

.position5 {
    animation: position5 ease-in-out 0.4s;

    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.position6 {
    animation: position6 ease-in-out 0.4s;

    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: both;
    animation-delay: 0.6s;
}

.dot-rotate {
    animation: rotate ease-in-out 1s;

    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: both;
    /* animation-delay: 0.s; */
}

@keyframes rotate {
    0% {
        transform: rotate(10deg);
    }

    100% {
        opacity: 1;
        transform: rotate(-30deg);
    }
}

@keyframes position1 {
    0% {
        top: 30%;
        right: 50%;
        opacity: 0;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        transform: translate(180px, 61px);
    }
}

@keyframes position2 {
    0% {
        top: 30%;
        right: 50%;
        opacity: 0;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.5;
        transform: translate(-70px, 30px);
    }
}

@keyframes position3 {
    0% {
        top: 30%;
        right: 50%;
        opacity: 0;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.5;
        transform: translate(-82px, -101px);
    }
}

@keyframes position4 {
    0% {
        top: 30%;
        right: 50%;
        opacity: 0;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.5;
        transform: translate(158px, -74px);
    }
}

@keyframes position5 {
    0% {
        top: 30%;
        right: 50%;
        opacity: 0;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.9;
        transform: translate(-5px, 136px);
    }
}

@keyframes position6 {
    0% {
        top: 30%;
        right: 50%;
        opacity: 0;
    }

    90% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        transform: translate(37px, -147px);
    }
}

.align {
    margin: 0 auto;
    display: block;
    text-align: center;
    position: absolute;
    top: 33%;
    right: 50%;
    z-index: 0;
}

.dots {
    /* background-image: url(../img/dots.svg);
  background-repeat: no-repeat; */
    height: auto;
    width: 10px;
}


.center {
    position: relative;
    top: 37%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sonar-wrapper,
.sonar-emitter {
    z-index: 0;
    overflow: hidden;
    padding: 2rem 0;
    /*background-image: url("../img/solar-bg.svg");*/
    background-image: url("https://cdn.classmateshop.co.in/live/Front-Assets/FrontEnd/solar-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    margin: 0 auto;
    height: 340px;
}


.tick {
    color: #fff;
    font-size: 75px !important;
}

.ThankYouTitle {
    text-align: center;
    color: #fff;
    top: 20%;
    position: sticky;
    margin: 0;
}

.right-arrow {
    background-color: #fff;
    border-radius: 21px;
    font-size: 27px;
    float: right;
}

/* .arrow {
    padding: 15px;
    position: absolute !important;
    color: #fff;
    z-index: 10;

    font-size: 36px !important;
} */
@media screen and (min-width: 600px){

    .sonar-wrapper, .sonar-emitter {
        z-index: 0;
        overflow: hidden;
        padding: 9rem 0;
    }
    .thankyouPage .container {
        height: 33vh;
    }

}
@media screen and (min-width: 1000px){

    .sonar-wrapper, .sonar-emitter {
        z-index: 0;
        overflow: hidden;
        padding: 15rem 0;
    }
    .thankyouPage .container {
        height: 33vh;
    }

}
.sonar-emitter{
    height: 13rem;
}
@media screen and (max-width: 540px){
    .order-confirmation__info{
        font-size: 14px;
    }
}

