/*code for FileUploadForm component*/

.Dropzone_Class{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border: 2px dashed #FF6733;
    position: relative;
    background-color: #FFF7F5;
}
.hello1{
    display: none;
}

@media screen and (max-width: 540px){

    .Dropzone_Class{

        height: 35vh;

    }
    .hello{
        display: none;
    }
    .hello1{
        display: block;
    }
    .preview_image_actions{
        display: none;
    }
    .Dropzone_image_preview{
        padding: 0 !important;
    }
    .preview_image_column{
        margin: 10px 0px !important;
    }
    .preview_image_column_more{
        margin: 7px 0px !important;
    }
    .Dropzone_image_preview .mobile_menu{
        display: inline-flex !important;
    }
    .mobile_image_upload_warning{
        display: block !important;
    }
    .image_upload_content img {
        width: 50px;
        height: 50px;
        object-fit: scale-down;
        margin-bottom: 0 !important;
    }
}

@media screen and (min-width: 540px){
    .preview_image_column,.preview_image_column_more{
        margin: 20px 0px !important;
    }

}


.Dropzone_Class:focus {
    outline: none;
}
.Dropzone_Class input{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 1e-05;
    pointer-events: none;
    height: 50vh;
    width: 100%;
}

.image_upload_content{
    text-align: center;
}
.image_upload_content img{
    margin-bottom: 20px;
}
.image_upload_content button{
    background: #FF6733 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color: #fff;
    padding: 13px;
    border: none;
}
.image_upload_content button:focus{
    outline: none;
    border: none;
}


/*code for previewimage component*/

.Dropzone_image_preview{
    /*height: 50vh;*/
    border: 2px dashed #FF6733;
    position: relative;
    background-color: #FFF7F5;
    padding: 0px 40px;
    display: table-cell;
    vertical-align: middle;
    min-width: 30vw;
}
.preview_image_column,.preview_image_column_more{
    text-align:-webkit-center;
    text-align: -moz-center;

}

.uploaded_images_desktop{
    width: 150px;
    height: 165px;
    cursor: pointer;
    background-color: #ffffff;
}

    @media only screen and (max-width: 1400px) {
        .uploaded_images_desktop{
            width: 4rem;
            height: 5rem;
            cursor: pointer;

        }
    }

@media only screen and  (min-width: 1400px) and (max-width: 1500px) {
    .uploaded_images_desktop{
        width: 6rem;
        height: 7rem;
        cursor: pointer;

    }
}
.design_fun_btn{
    padding: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FF6733;
    border-radius: 4px;
    color: #FF6733;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    width: 12rem;
    cursor: pointer;
}
.design_fun_btn:hover{
    background-color: #FF6733;
    color: #fff;
}
.design_fun_btn:focus{
    outline: none;
}
.preview_image_actions{
    text-align: center;
}
.Dropzone_image_preview .mobile_menu{
    box-shadow: 0 5px 6px 0 rgba(0,0,0,.16)!important;
    background-color: #fff;
    text-align: center;
    position: absolute;
    height: 20px;
    border-radius: 13px;
    width: 20px;
    padding: 2px;
    margin-left: -18px;
    margin-top: -8px;
    /*display: none;*/
}
 #simple-menu .MuiMenu-paper {
    box-shadow: 0 5px 6px 0 rgba(0,0,0,.1) !important;
}
 #simple-menu .MuiList-padding{
     padding: 0px !important;
 }
/*.Dropzone_image_preview .mobile_menu .menuItem{*/
/*    width: 5.5rem;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/
.mobile_image_upload_warning {
    color: #ff6733;
    /* padding: 6px; */
    /* background-color: #ffa0009c; */
    /*display: table;*/
    margin: 0 !important;
    font-size: 13px;
    display: none;
}
















