.form-control {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    /*border-bottom: 1px solid #ffffffa1;*/
    font-size: 16px;
    color: #000;
    padding-left: 0;
    margin-bottom: 20px !important;
    margin-top: 10px !important;
}
.form-control {
    display: block;
    width: 100%;
    /*height: 34px;*/
    /*padding: 6px 12px;*/
    line-height: 1.42857143;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.form-control:focus{
    outline: none;
}
.contactRoot{
    flex-grow: 1;
   margin-top:50px;
}
.contactPaper{
    width: 100%;
    max-width: 651px;
    padding: 16px;
    margin: auto auto 25px;
}
.contactFormBg{
    background-image: url('https://cdn.classmateshop.co.in/live/Front-Assets/FrontEnd/contactus-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #FFF4F1;
    width: 100%;
    height: 40vh;
    padding: 0px;
    background-size: 100%;
    position: absolute;
}

@media screen and (max-width: 768px) {
    .contactPaper{
        width: 80%;
    }
    .Contact_Title{
        margin-top: 55px !important;
    }
    .contactFormBg{
        height: 50vh;
    }
    .contactRoot{
        margin-top:0px;
    }
}

.contactPaper .form-group input[type='text'] ,.contactPaper .form-group textarea , .contactPaper .form-group label{
    font-family: Poppins, sans-ser
}





.contackform_success_msg .wrapper {
    display: flex;
    width: 100%;
    /*height: 100%;*/

    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    margin-bottom: 7%;

}

.contackform_success_msg .screen {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    max-width: 651px;
    padding: 16px;

    /*border: 4px solid #7a7a7a;*/
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
}

.contackform_success_msg .clouds{
    position: relative;
    bottom: -155px;
    width: 243px;
    height: 172px;
    opacity: 0;
    animation: clouds 1s .8s ease-in forwards;
}

.contackform_success_msg .plane {
    position: relative;
    width: 139px;
    height: 139px;
    opacity: 0;
    animation: plane-start .8s .8s ease-out, plane-loop 1.6s 1.6s linear infinite;

}

.contackform_success_msg .message {
    margin-top: 50px;
    font-family: Rubik;
    font-size: 20px;
    color: #292929;
    letter-spacing: 1px;
    animation: message .3s 1.6s ease-in-out backwards;
}

.contackform_success_msg .button{
    margin: 40px;
    padding: 19px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.16);
    border-radius: 24px;
    font-family: Rubik-Medium;
    font-size: 16px;
    color: #7A7A7A;
    letter-spacing: -0.05px;
    text-align: center;
}

@keyframes plane-start{
    0% { transform: translate(-80px, 130px) ; }
    50% { opacity:1 }
    100% { transform: translate(0px, 0); opacity:1  }
}

@keyframes plane-loop {
    0% { transform: translate(0px, 0); opacity:1  }
    50% { transform: translate(-20px, 30px); opacity:1  }
    100% { transform: translate(0px, 0); opacity:1  }
}

@keyframes clouds{
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes message{
    from { opacity: 0 }
    to { opacity: 1 }
}

.contactRoot .MuiFormLabel-root.Mui-focused {
    color: #f76432;
}
.contactRoot .MuiFilledInput-underline:after {
    border-bottom: 2px solid #f76432 !important;

}