.musicSeriesPenLandigPageDesc {

}

.musicSeriesPenLandigPageDesc .section1 ,.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection3{
    background-color: #021535;
    background-image: url("../../../assets/images/musicSeriesBg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection3{
height: auto !important;
}
.landingfirstScreenMusicSeriesPen {
    text-align: center;
    padding-top: 60px;

}
.landingfirstScreenMusicSeriesPenFlux{
    display: flex;
    justify-content: space-around;
}
.PaperkraftPenLandingHeader {
    font-size: 45px;
    /*color: #E4BB60;*/
    font-family: "Open Sans", sans-serif !important;
    font-weight: bold;
}

.landingfirstScreenMusicSeriesPen h5 {
    font-size: 18px;
    color: #061922;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 100;
    opacity: 0.9;

}

.pricePaperkraftPen {
    display: flex;
    align-items: center;
    justify-content: center;

}
/*.landingfirstScreenMusicSeriesPen .OfferPrice span{*/
/*    color: #fff;*/
/*    font-size: 45px;*/

/*}*/
.landingfirstScreenMusicSeriesPen .OfferPrice .musicSeriesPenPrice{
    color: #E4BB60;
    font-size: 40px;
    font-weight: bold;
}
.landingfirstScreenMusicSeriesPen .OfferPrice span{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
.page-header {
    z-index: 2000;
}

.pricePaperkraftPen .OfferPrice {
    text-align: center;
    letter-spacing: 0;
    color: #fff;
    opacity: 1;
    font-size: 30px;
    font-weight: normal;
}
html .modal-open {
    height: 100vh !important;
    overflow-y: hidden !important;
}

.pricePaperkraftPen {
    color: #061922;
    font-weight: bold;
    /*opacity: 0.6;*/
    font-size: 20px;
    position: relative;

}
.landingfirstScreenMusicSeriesPen .sub_text{
    font-size: 20px;
    /* opacity: 0.9; */
    font-weight: normal;
}
.pricePaperkraftPen .shippingText {
    color: #061922;
    font-weight: bold;
    opacity: 0.6;
    font-size: 20px;
}

/*.pricePaperkraftPen:before {*/
/*    position: absolute;*/
/*    content: '';*/
/*    left: 0;*/
/*    top: 45%;*/
/*    right: 0;*/
/*    border-top: 2px solid;*/
/*    border-color: inherit;*/
/*    -webkit-transform: skewY(-10deg);*/
/*    -moz-transform: skewY(-10deg);*/
/*    transform: skewY(-10deg);*/
/*}*/

.landingImgLeft {

    background: transparent url('https://cls-cdn-wip.sgp1.cdn.digitaloceanspaces.com/live/landing_pages/Paperkraft-Gift-Box-Dec/blue-blob-land.svg') 0% 0% no-repeat padding-box;
    transform: rotate(-2deg);
    left: -164.63501px;
    width: 596px;
    height: 594px;
    position: relative;
    /*top: 35px;*/
}

.landingImgLeft img {
    width: 100%;

}

.landingImgRight {
    top: 80px;
    right: -113px;
    position: relative;
    background: transparent url('https://cls-cdn-wip.sgp1.cdn.digitaloceanspaces.com/live/landing_pages/Paperkraft-Gift-Box-Dec/green_land_blob.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-size: 100%;
}

.landingImgRight img {
    width: 100%;
}

.musicSeriesPenLandigPageDesc .landingShopBtn {
    background-color: #F8DC93 !important;
    color: #000 !important;
    border-radius: 0px !important;
    font-size: 12px !important;
    font-weight: bold !important;
}
.landingShopBtn:hover .ri-arrow-right-line , .landingBuyNoHeaderPaperkraftPen:hover .ri-arrow-right-line {
    transform: scale(1.2);

}

.landingShopBtn:hover , .landingBuyNoHeaderPaperkraftPen:hover , .CartFabButton:hover{
    filter: drop-shadow(2px 4px 6px #e4bb60bf);
    z-index: 2000;
}

.landingBuyNoHeaderPaperkraftPen {
    background-color: #E4BB60  !important;
    color: #000 !important;
    padding: 10px 80px !important;
    border-radius: 0px !important;
    /*margin: 22px !important;*/
    font-size: 20px !important;
    letter-spacing: 0.2px;
    font-weight: 600 !important;
    font-family: "Open Sans" , sans-serif !important;
}

.downScroll {
    position: fixed;
    right: 100px;
    bottom: 20px;
}

.landingPenSecondScreen .slide_img {
    margin: 0 auto !important;
    display: block;

}

.secondScreenHeader {
    height: 100px;
    background-color: green;
    position: relative;
}

.moveup {
    top: -45%;
    position: relative;

    transition: all .5s ease-in-out;

}

.downScroll {
    position: absolute !important;
    z-index: 1;
    bottom: 10px;
}

.movedown {
    top: 0%;
    position: absolute;
    transition: all .9s ease-in-out;
    /*transform-origin: left top;*/
    transform: scaleY(1);
    width: 100vw;

}

.trigger-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    /*padding: 10px;*/
    z-index: 2;
    background: #ffffff;
    transition: transform 0.4s;
    display: block;
}

.page-header .trigger-menu {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ffffff;
}

.page-header .trigger-menu svg {
    fill: #ffffff;
    margin-right: 5px;
    transition: transform 0.3s;
}

.page-header .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    text-align: center;
    padding: 15vh 0 5vh;
    overflow: auto;
    z-index: 1;
}

.page-header .menu a {
    font-size: 3rem;
}

.page-header .sub-menu a {
    font-size: 1.5rem;
}

.paperkraft_pen_page-main section {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.paperkraft_pen_page-main section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.page-header .trigger-menu svg {
    transition: transform 0.3s;
}


.trigger-menu-wrapper {
    transition: transform 0.4s;
}

.scroll-up .trigger-menu-wrapper {
    transform: translate3d(0, -100%, 0);
}

.scroll-down .trigger-menu-wrapper {
    transform: none;
}


.trigger-menu-wrapper {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    /*height: 4vh;*/
}




.landingPenSecondScreen, .desktopMusicSeriesPenSection2{
    background-color: #021535;


}

@media screen and (max-width: 1500px) {
    .PaperkraftPenLandingHeader {
        font-size: 45px;
        color: #E4BB60;
        font-family: "Open Sans", sans-serif !important;
        font-weight: bold;
        margin: 20px 0px;
    }

    .landingfirstScreenMusicSeriesPen h5 {
        margin: 10px 0px;
    }


    .landingPenSecondScreen {
        /*padding-top: 12vh !important;*/
    }

    .landingPenSecondScreen .slide_img, .landingfirstScreenMusicSeriesPen .landingImgRight img {
        width: 100%;
    }
    /*.ProductPaperMusicSeriesPen{*/
    /*    width: 70% !important;*/
    /*}*/
    .GiftBoxVideo {
        width: 67% !important;
        height: 79% !important;

    }
    .musicSeriesPenLandigPageDesc .landingShopBtn {

        margin: 55px 0px 0px 0px !important;

    }
}


.headerItems {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.slick-slide .MuiGrid-container {
    display: flex !important;
}

.slider-page {
    margin: 0;
    position: relative;
    top: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*height: 100vh;*/
}

.slider-page-section3 {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*height: 100vh;*/
}

.desktopMusicSeriesPenSection2 .slick-prev {
    z-index: 1000;
    left: 30%;
}

.desktopMusicSeriesPenSection2 .slick-next {
    z-index: 1000;
    right: 30%;
}

.slide_img {
    margin: 0 auto !important;
    display: block;
}

.desktopMusicSeriesPenSection2 .slick-next:before, .desktopMusicSeriesPenSection2 .slick-prev:before {
    color: #FFFFFF;
    font-size: 30px !important;
}



.slideBgImage {
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
}
.paperkraft_pen_slide_img{
    height: 100vh;
    width: 100vw;
}



.slideBgImage img {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -35%) !important;
    max-height: 80% !important;
    max-width: 80% !important;
}

.musicSeriesPenLandigPageDesc .slick-dots li button ,
.musicSeriesPenLandigPageDesc .slick-dots li {
    width: 40px!important;
    height: 40px!important;
}
.musicSeriesPenLandigPageDesc .slick-dots li button:before {
    font-size: 40px !important;
}
.musicSeriesPenLandigPageDesc  .slick-dots {
    bottom: -100px !important;
    display: flex !important;
    width: 40px !important;
    margin: -20px 0px;
    justify-content: center;
    z-index: 10;
}
.musicSeriesPenLandigPageDesc  .slick-dots li.slick-active button:before{
    color: #E4BB60 !important;
}
.desktopSection5{
    background-color: #FFFCF6;
}
.desktopSection5 h1{
    padding-top: 75px;
    text-align: center;
    font-size: 30px;
}
.section5_Page{
    max-width: 1248px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.reviewCard{
    padding:20px;
}
.reviewCard .reviewTitle{
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif !important;
}
.reviewCard .reviewSubTitle{
    font-size: 16px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif !important;
}
.ProductModal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ProductPaperMusicSeriesPen {
    background-color: #fff;
    box-shadow: -3px 0px 6px #0000004f;
    width: 50%;

    /*boxShadow: theme.shadows[5]*/
    /*padding: theme.spacing(2, 4, 3),*/
}
.ProductPaperMusicSeriesPen:focus{
    outline: none;
}
.ProductModal .MuiBackdrop-root {

    backdrop-filter: blur(5px);

}
.colorSeriesGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
.gift_title{
    font-family: "Open Sans", sans-serif !important;
    margin-bottom: 0px;
}
.gift_subtitle{
    font-family: "Open Sans", sans-serif !important;
    color:#3D3D3D;
    margin: 0px;
    opacity: 0.6;
}
.gift_price{
    font-weight: bold;

    font-size: 20px;
}
.paperGrid{
    padding: 30px;
}
.paperGrid .MuiGrid-container{
    margin-bottom: 5px;
}
.PaperkraftPenCheckoutBtn {
    width: 100%;
    padding: 20px !important;
    background-color: #E4BB60 !important;
    color: #fff !important;
    border-radius: 0px !important;
    letter-spacing: 1.44px !important;
    font-weight: 600 !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 18px !important;
}
#addToCart1, #addToCart2,#addToCart3,#addToCart4,#addToCart5,#addToCart6{
    display: inline-flex;
}
#product_quantity0, #product_quantity1, #product_quantity2, #product_quantity3,#product_quantity4, #product_quantity5{
    display: none;
}

.musicSeriesFabButtonpaperkraftPen {
    color: #fff !important;
    background-color: #E4BB60  !important;
    /* float: none; */
    position: fixed!important;
    bottom: 15px!important;
    right: 60px!important;
    font-weight: bold;
    font-family: "Open Sans", sans-serif !important;
}
.musicSeriesFabButtonpaperkraftPen  .MuiBadge-colorSecondary{
    background-color : #ffffff !important;
    color: #000 !important;
    font-weight: 600 !important;
}
.colorSeriesGrid .musicSeriesDescImage{
    width: 100px;
    height: 100px;
    object-fit: scale-down
}
.CartFabButtondesktop{
    z-index: 1000;
}
.paperkraft-product-div{
    background-color: #e4bb60;
    border-radius: 10px;
}

.musicSeriesPenLandigPageDesc .musicSeriesPenImage{
    transform: rotate(30deg);
}
.musicSeriesPenLandigPageDesc .beethovenRotatePen{
    transform: rotate(90deg);
    position: relative;
    right: 284px;
    top: 40px;
}

.nextPageScroll {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1000;
    top: 90vh;
    color: #FFFFFF;
    flex-direction: column;
    align-items: center;
}
.musicSeriesPenLandigPageDesc .musicSeriesPenSecondScreen{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.musicSeriesPenLandigPageDesc .secondSecImage{
    width: 35%;
    margin-top: 10px;
}
.musicSeriesPenLandigPageDesc .MusicSeriesPenDetails p{
    font-size: 14px;
    color: #FFFFFF;
}
.musicSeriesPenLandigPageDesc .MusicSeriesPenDetails .musicSeriesPenPrice{
    color: #E4BB60;
    font-weight: bold;
    font-size: 22px;

}
.desktopMusicSeriesPenSection2 .slick-slider{
    width: 10%;
}
.desktopMusicSeriesPenSection2 .slick-prev {
    left: -94px;
}
.desktopMusicSeriesPenSection2 .slick-next {
    right: -94px;
}
 .featureChoppinOverlay{
    position: absolute;
    background-color: #ffffff38;
    height: 100%;
    width: 33.33%;
    top:0px;
    left: 0px;
    z-index: 100;
}
.featureBeethovenOverlay {
    position: absolute;
    background-color: #ffffff38;
    height: 100%;
    top: 0px;
    left: 33.33%;
    z-index: 100;
    right: 33.33%;
    width: 33.33%;
}
.featureMozartOverlay{
    position: absolute;
    background-color: #ffffff38;
    height: 100%;
    width: 33.33%;
    top:0px;
    right: 0;
    z-index: 100;
}
.overlayFlex{
     margin: 55px;
     text-align: left;
}
 .featureOverlayShowChoppin{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
 .GiftGrid .musicSeriesDescImage {
    width: 80px !important;
    height: 80px !important;
    object-fit: scale-down;
    transform: rotate(-25deg);
}
 .paperkraft-product-div{
    background-color: transparent !important;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection2  .musicSeriesList{
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.6;
    width: 100%;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection2 .musicSeriesList li {
    margin: 15px 0px;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection2  .colorVariantFlex{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection2  .colorVariantFlex .colorOption1 {
    width: 40px;
    height: 40px;
    background-color: #313131;
    border-radius: 42px;
    border: 3px solid #000;
    margin-right: 10px;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection2  .colorVariantFlex .colorOption2 {
    width: 40px;
    height: 40px;
    background-color: #D2D2D2;
    border-radius: 42px;
    border: 2px solid #000;
    margin-right: 10px;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection2  .colorVariantFlex .beethovenOption1 {
    width: 40px;
    height: 40px;
    background:linear-gradient(to bottom right, #fff 50%,#EEC850 50%);

    border-radius: 42px;
    border: 3px solid #000;
    margin-right: 10px;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection2  .colorVariantFlex .beethovenOption2 {
    width: 40px;
    height: 40px;
    border-radius: 42px;
    border: 3px solid #000;
    margin-right: 10px;
    background:linear-gradient(to bottom right, #fff 50%,#313131 50%);

}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection2  .MozartPen {
    width: 40px;
    height: 40px;
    /*background-color: #313131;*/
    background:linear-gradient(to bottom right, #313131 50%,#EEC850 50%);
    border-radius: 42px;
    border: 3px solid #000;
    margin-right: 10px;
}

.MobileMusicSeriesPenLandingPage .ChopinPen{
    width: 32%;
    transform: rotate(21deg);
    position: relative;
    left: 60px;
}
#choppinFeatures, #beethovenFeatures,#mozartFeatures{
    display: none;
}
. .MuiGrid-spacing-xs-3 > .MuiGrid-item{
    padding: 0px;
}.musicSeriesPenLandigPageDesc .MuiGrid-spacing-xs-3 {
    margin: 0px;
    width: 100%;
}
.musicSeriesPenLandigPageDesc .choppinColorSectionGrid .slick-dots li:nth-child(1)  button:before{
    background-color: #000000 !important;
    color: transparent !important;
    width: 40px;
    height: 40px;
    border-radius: 40px!important;
}
.musicSeriesPenLandigPageDesc .choppinColorSectionGrid .slick-dots li:nth-child(2)  button:before {
    background-color: #c1c0c0 !important;
    color: transparent !important;
    width: 40px ;
    height: 40px;
    border-radius: 40px !important;
}
.musicSeriesPenLandigPageDesc .beethovenColorSectionGrid .slick-dots li:nth-child(1)  button:before{
    background:linear-gradient(to bottom right, #fff 50%,#EEC850 50%);
    color: transparent !important;
    width: 40px;
    height: 40px;
    border-radius: 40px!important;
}
.musicSeriesPenLandigPageDesc .beethovenColorSectionGrid .slick-dots li:nth-child(2)  button:before{
    background:linear-gradient(to bottom right, #fff 50%,#313131 50%);
    color: transparent !important;
    width: 40px;
    height: 40px;
    border-radius: 40px!important;
}
.musicSeriesPenLandigPageDesc .slick-dots li.slick-active  button:before{
    width: 35px!important;
    height: 35px!important;
    border-radius: 40px!important;
    border: 3px solid #f7dc93;
}
#overlayBlurMozart2 .MozartPen {
    width: 35px;
    height: 35px;
    /* background-color: #313131; */
    background: linear-gradient(to bottom right, #313131 50%,#EEC850 50%);
    border-radius: 42px;
    border: 3px solid #f7dc93;
    display: block;
    margin: 0 auto;
}
#overlayBlurMozart2 .landingShopBtn{
    margin: 10px 0px 0px 0px !important;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection2 .beethovenPenImage{
    width: 75% !important;
}.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection2 .mozartPenImage{
    width: 85% !important;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection3 .MuiGrid-spacing-xs-3{
    display: flex;
    justify-content: center;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection3 .musicSeriesReviewSection{
    padding: 10px;
    text-align: center;
}.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection3 .musicSeriesReviewSection .musicSeriesReviewCard{
     background-color: #e1deda70;
     color: #fff;
     padding: 10px;
     text-align: left;
}
.musicSeriesPenLandigPageDesc .desktopMusicSeriesPenSection3 .musicSeriesReviewSection .reviewCardAlign{
    width: 80%;
    display: block;
    margin: 0 auto;
}
