.MobileFooterPage{
    top: 3134px;
    left: 0px;

    opacity: 1;
    background-color: #0d1824;
    padding: 20px;
}
.MblFooterTitle{
    color: #fff;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
}
.MobileEmailGroup{
    display: flex !important;
    height: 33px;
    margin-top: 15px;
}
.MobileEmailGroup .emailfield{
    width: 75%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.MobileEmailGroup .subscribeBtn{
    width: 25%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    font-size: 11px;
    color: #fff;
    background-color: #FF6733;
    border: none;
}

.footerNavList{
    color: #fff;
    opacity: 0.8;
    margin-top: 20px;
}
.footerNavList .NavList{
    border-bottom: 1px solid #ffffffc4;
}
.NavList i{
    font-size: 23px;
}

.footerNavList .MuiTypography-body1 {
    font-size: 14px !important;
    /*font-family: 'Poppins', sans-serif !important;*/
}
.copyRight{
    color: #fff !important;
    opacity: 0.8 !important;
    font-size: 15px !important;
    margin-top: 20px !important;
    text-align: center !important;
}
.MobileStickyFooter{
    /*width: 1920px;*/
    height: 50px;
    background: #fff;
    bottom: 0px;
    padding: 0px 20px;
    display: flex;
}
.MobileStickyFooter .MobilefooterBtmContent {
    max-width: 1248px;
    width: 100%;
    font-size: 19px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.MobileStickyFooter ul{
    list-style: none;
}
.MobileFooterPage a {
    color: #9ea3a7;
}
.social_media_icons{
    width: 25px;
    padding-right: 10px;
}
